DemoVideoCreation/04__VL__Audio.json
{
  "nodes": [
    {
      "parameters": {
        "text": "={{ $('TM_GetStatus').item.json.result.output[\"Sound text\"] }}",
        "voice_id": {
          "__rl": true,
          "value": "={{ $('TM_GetStatus').item.json.result.output.Form.parseJson()['Eleven Labs Voice (W/M)'] }}",
          "mode": "id"
        },
        "additionalFields": {
          "file_name": "={{ $('TM_GetStatus').item.json.result.task_id }}.mp3"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-elevenlabs-enhanced.elevenLabs",
      "typeVersion": 1,
      "position": [
        500,
        -60
      ],
      "id": "0222d88b-cea3-42a1-af1f-4502c528b723",
      "name": "ElevenLabs",
      "credentials": {
        "elevenLabsApi": {
          "id": "iOvpLcJK0VkN7XCL",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-piapi.fileUpload",
      "typeVersion": 1,
      "position": [
        540,
        220
      ],
      "id": "e08c0000-0a1a-437a-b006-bf63558ace1b",
      "name": "File Upload1",
      "credentials": {
        "piAPIApi": {
          "id": "tLdUHTT1TxJrmvCo",
          "name": "PiAPI account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 560,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        380,
        -180
      ],
      "id": "c774aa5d-a56b-4a95-8c56-c7d217a4682f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### ElevenLabs Text-to-Speech + Audio Upload\n\nThis flow takes the `\"Sound Text\"` from the form or TM_GetStatus, generates an audio narration using ElevenLabs, and uploads the `.mp3` result.\n---\n\n#### 🗣️ **Voice Generation**\n- **Node:** `ElevenLabs`\n- **Input Text:** Pulled from `TM_GetStatus → Sound Text`\n- **Voice ID:** Configurable (e.g., `\"Vivie\"` or any voice selected in the dropdownm by ID)\n- **Output File Name:** Named after the `TaskID` for traceability (e.g., `abc123.mp3`)\n---\n\n#### 📤 **Audio Upload**\n- **Node:** `File Upload1` (PiAPI)\n- **Function:** Uploads the generated `.mp3` voice file to asset server or workflow output system\n---\n\n📌 **Key Considerations:**\n- Ensure the `\"Sound Text\"` is well-formed; ElevenLabs expects grammatically correct inputs\n- Voice selection is dynamic based on `voice_id` field\n- File uploads follow immediately after generation, enabling downstream use (e.g., lipsync or video narration)\n\n✅ This flow enables **automated, human-like narration** generation for multimedia tasks.\n",
        "height": 580,
        "width": 1140
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -100,
        400
      ],
      "id": "67e6bd91-49eb-4280-b1f2-15b87f42c0ce",
      "name": "Sticky Note - Overview"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev.mindstreamai.app/webhook/LipsyncCreation",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "TaskID",
              "value": "={{ $json.task_id }}"
            },
            {
              "name": "external_id",
              "value": "={{ $('Webhook').item.json.body.external_id }}"
            },
            {
              "name": "webhook_url_taskman",
              "value": "={{ $('Webhook').item.json.body.webhook_url_taskman }}"
            },
            {
              "name": "webhook_url",
              "value": "={{ $('Webhook').item.json.body.webhook_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        220
      ],
      "id": "92d7131f-43d6-4e88-ba06-c1ce78f3d55d",
      "name": "TriggerWorkflow"
    },
    {
      "parameters": {
        "url": "=https://dev.mindstreamai.app/webhook/2d9c4c2e-c39a-4da2-aaad-2cd096e2009d/task-status/{{ $('Webhook').item.json.body.TaskID }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        240
      ],
      "id": "5a44117b-1e91-48ea-aa46-415e520a5172",
      "name": "TM_GetStatus",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ls9itmRH8ZrWv4rJ",
          "name": "TaskManager DEMO AUTH"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dev.mindstreamai.app/webhook/ade4dfea-d284-4c02-95f0-4deeb1435983/update-task/{{ $('TM_SIMPLE_NODE').item.json.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"status\": \"in_progress\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        240
      ],
      "id": "3f3cad6c-2b25-45e2-a785-97e17594e3cd",
      "name": "TM_SetStatus_Start",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ls9itmRH8ZrWv4rJ",
          "name": "TaskManager DEMO AUTH"
        }
      }
    },
    {
      "parameters": {
        "content": "## Trigger + Task  Manager Nods",
        "height": 560,
        "width": 460,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -100,
        -180
      ],
      "id": "86e8a6fe-3bb6-40ed-8124-026c34269bd5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "AudioCreation",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -60,
        -40
      ],
      "id": "d67df484-6845-4e23-8f6e-e2a7cfd356a8",
      "name": "Webhook",
      "webhookId": "30ceee44-edc6-4a8c-93d9-1440446cbb3d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dev.mindstreamai.app/webhook/ade4dfea-d284-4c02-95f0-4deeb1435983/update-task/{{ $('TM_SIMPLE_NODE').item.json.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $(\"CreateJSON\").item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        220
      ],
      "id": "2d2e6300-3ad8-481e-bd3c-33b9f6da5935",
      "name": "TM_SetStatus_COMPLETE",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ls9itmRH8ZrWv4rJ",
          "name": "TaskManager DEMO AUTH"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Fixed merge logic for nodes with different data shapes\n\nconst getInside = $('InsideJSON').item.json || {};\nconst getOutside = $('OutsideJSON').item.json.result || {};\n\nreturn [\n  {\n    json: {\n      status: $('OutsideJSON').item.json.status || 'unknown',\n      result: {\n        ...getInside,\n        ...getOutside\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        40
      ],
      "id": "bad2a655-a142-4915-9990-ad48b3166298",
      "name": "CreateJSON"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d11727f-0a9b-45e6-b716-104bb14a5a36",
              "name": "task_id",
              "value": "={{ $('TM_SIMPLE_NODE').item.json.task_id }}",
              "type": "string"
            },
            {
              "id": "390b4363-eb8c-4603-a1b7-2e42bebe286b",
              "name": "output",
              "value": "={{ $('TM_GetStatus').item.json.result.output }}",
              "type": "object"
            },
            {
              "id": "81a1d65c-6d57-44cb-bcb3-743b54ee27f3",
              "name": "output.Final_Image",
              "value": "={{ $('TM_GetStatus').item.json.result.output.Final_Image }}",
              "type": "string"
            },
            {
              "id": "8b1abe85-980c-4ba5-b5b3-263dd07fc961",
              "name": "output.Video_RES",
              "value": "={{ $('TM_GetStatus').item.json.result.output.Video_RES }}",
              "type": "string"
            },
            {
              "id": "6ff7ba3d-3ed8-4ba3-b454-489f0a06c172",
              "name": "output.Audio_MP3",
              "value": "={{ $('File Upload1').item.json.data.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        40
      ],
      "id": "4c29ec0d-7b73-4fce-b1b1-248cf6354073",
      "name": "InsideJSON"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"status\": \"completed\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        -100
      ],
      "id": "ba83b88d-3a3b-4473-966f-f1da7782bf2d",
      "name": "OutsideJSON"
    },
    {
      "parameters": {
        "content": "## Task  Manager Nods",
        "height": 560,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        -180
      ],
      "id": "6ee998a2-430a-4a04-8a65-d6f42c36ea2d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "482b635c-43a5-4857-b66e-c68f1796cbca",
              "name": "workflow",
              "value": "={{ $workflow.id }}",
              "type": "string"
            },
            {
              "id": "65bb894b-64fc-41ff-9a6a-5840b692b1f5",
              "name": "execution",
              "value": "={{ $execution.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        -40
      ],
      "id": "54ddc431-38eb-4da7-a982-80ef8592089a",
      "name": "Workflow-Execution"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.webhook_url_taskman }}/webhook/create-task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "task_type",
              "value": "audio_processing"
            },
            {
              "name": "external_id",
              "value": "={{ $('Webhook').item.json.body.external_id }}"
            },
            {
              "name": "metadata",
              "value": "={ \n  \"workflow\": \"{{ $('Workflow-Execution').item.json.workflow }}\", \n  \"execution\": \"{{ $('Workflow-Execution').item.json.execution }}\",\n  \"webhook_url\": \"{{ $('Webhook').item.json.body.webhook_url }}\",\n  \"webhook_url_taskman\": \"{{ $('Webhook').item.json.body.webhook_url_taskman }}\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        100
      ],
      "id": "a9390e1c-5771-4a87-857c-34c7d7cabe0c",
      "name": "TM_SIMPLE_NODE",
      "credentials": {
        "httpBearerAuth": {
          "id": "x1NwvfmOBn59qCFq",
          "name": "Task Manager DEMO AUTH"
        },
        "httpBasicAuth": {
          "id": "tOKuohk9XqCLpfXA",
          "name": "Unnamed credential"
        },
        "httpHeaderAuth": {
          "id": "ls9itmRH8ZrWv4rJ",
          "name": "TaskManager DEMO AUTH"
        }
      }
    }
  ],
  "connections": {
    "ElevenLabs": {
      "main": [
        [
          {
            "node": "File Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Upload1": {
      "main": [
        [
          {
            "node": "OutsideJSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TM_GetStatus": {
      "main": [
        [
          {
            "node": "TM_SetStatus_Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TM_SetStatus_Start": {
      "main": [
        [
          {
            "node": "ElevenLabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Workflow-Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TM_SetStatus_COMPLETE": {
      "main": [
        [
          {
            "node": "TriggerWorkflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateJSON": {
      "main": [
        [
          {
            "node": "TM_SetStatus_COMPLETE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsideJSON": {
      "main": [
        [
          {
            "node": "CreateJSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OutsideJSON": {
      "main": [
        [
          {
            "node": "InsideJSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow-Execution": {
      "main": [
        [
          {
            "node": "TM_SIMPLE_NODE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TM_SIMPLE_NODE": {
      "main": [
        [
          {
            "node": "TM_GetStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "306de76e4b7b868087c011f08075d5bdab5fdc016494a71df11c97368feac0db"
  }
}