TaskManager/N8N_Task_Manager_Nodes.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Create task ",
        "height": 340,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -380,
        -440
      ],
      "id": "77a37e8b-a414-4a92-a5ab-893f3556ecae",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Get Task Status \n",
        "height": 300,
        "width": 980,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -380,
        -80
      ],
      "id": "e184bea7-ba35-4ce3-87b8-3cde7a692e4d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Set Status \n",
        "height": 220,
        "width": 980,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -380,
        240
      ],
      "id": "7ab1c829-be64-4f08-929e-ff33ad63c61d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -900,
        -20
      ],
      "id": "b052f742-2d28-46aa-bc73-7dbe33bf984f",
      "name": "START"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\"base_url\": \"https://YOUR_URL\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -700,
        -20
      ],
      "id": "d3fb736c-d27b-4bd3-b6e3-3fc1444033bf",
      "name": "URL"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        120,
        0
      ],
      "id": "d8a790da-fe01-4089-a156-9dfa54903cfe",
      "name": "Wait",
      "webhookId": "40be6ac4-fbc4-4670-9a3c-fe456c771a62"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ba5eebb5-29b2-40b5-9674-3d65d267c903",
              "leftValue": "={{ $('TM_SIMPLE_NODE').item.json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        340,
        0
      ],
      "id": "3e15ebf0-1aa0-41e9-a6f7-ee51dedbc2a0",
      "name": "If"
    },
    {
      "parameters": {
        "content": "- in most of the cases you will use SIMPLE_NODE\n- You need to adjust on node GetStatus and SetStatus the unique URL like: /webhook/2d9c4c2e-c39a-4da2-aaad-2cd096e2009d/task-status/ with your URL from webhooks.",
        "height": 340,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        -440
      ],
      "id": "07d154d3-3e56-4c45-b244-a94e88ef894d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.base_url }}/webhook/create-task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "external_id",
              "value": "abc123"
            },
            {
              "name": "poll_url",
              "value": "https://api.service.com/job/abc123/status"
            },
            {
              "name": "poll_method",
              "value": "GET"
            },
            {
              "name": "task_type",
              "value": "data_processing"
            },
            {
              "name": "max_attempts",
              "value": "10"
            },
            {
              "name": "timeout_minutes",
              "value": "120"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        -420
      ],
      "id": "5102fc2b-be11-4967-8804-00b4740addc8",
      "name": "TM_POLL_DATA",
      "credentials": {
        "httpBearerAuth": {
          "id": "x1NwvfmOBn59qCFq",
          "name": "Task Manager DEMO AUTH"
        },
        "httpBasicAuth": {
          "id": "tOKuohk9XqCLpfXA",
          "name": "Unnamed credential"
        },
        "httpHeaderAuth": {
          "id": "ls9itmRH8ZrWv4rJ",
          "name": "TaskManager DEMO AUTH"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.base_url }}/webhook/create-task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "task_type",
              "value": "data_processing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        -240
      ],
      "id": "6ea6b24c-c743-4ad7-b331-307560dc4755",
      "name": "TM_SIMPLE_NODE",
      "credentials": {
        "httpBearerAuth": {
          "id": "x1NwvfmOBn59qCFq",
          "name": "Task Manager DEMO AUTH"
        },
        "httpBasicAuth": {
          "id": "tOKuohk9XqCLpfXA",
          "name": "Unnamed credential"
        },
        "httpHeaderAuth": {
          "id": "ls9itmRH8ZrWv4rJ",
          "name": "TaskManager DEMO AUTH"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('URL').item.json.base_url }}/webhook/2d9c4c2e-c39a-4da2-aaad-2cd096e2009d/task-status/{{ $('TM_SIMPLE_NODE').item.json.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        0
      ],
      "id": "be79c299-17e5-42fd-9f18-41f3f4b9f508",
      "name": "TM_GetStatus",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ls9itmRH8ZrWv4rJ",
          "name": "TaskManager DEMO AUTH"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('URL').item.json.base_url }}/webhook/ade4dfea-d284-4c02-95f0-4deeb1435983/update-task/{{ $('TM_SIMPLE_NODE').item.json.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"status\": \"completed\",\n    \"result\": {\"success\": true}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        300
      ],
      "id": "98b7a544-8bbf-4021-b84e-a0f2a5ec47b2",
      "name": "TM_SetStatus",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ls9itmRH8ZrWv4rJ",
          "name": "TaskManager DEMO AUTH"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate random 16-character alphanumeric string and assign it to 'external_id'\nfor (const item of $input.all()) {\n\titem.json.external_id = [...Array(16)]\n\t\t.map(() => Math.random().toString(36)[2])\n\t\t.join('');\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        -260
      ],
      "id": "ee584522-8620-4052-b2ef-0ec2833bef31",
      "name": "GenerateUniqueID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_URL/webhook/VideoCreation",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "TaskID",
              "value": "={{ $json.task_id }}"
            },
            {
              "name": "external_id",
              "value": "={{ $('Webhook').item.json.body.external_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        -20
      ],
      "id": "9d28b7f5-050e-486b-a481-0f862d5bd911",
      "name": "TriggerWorkflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR_URL/webhook/ade4dfea-d284-4c02-95f0-4deeb1435983/update-task/{{ $('TM_SIMPLE_NODE').item.json.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $(\"CreateJSON\").item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        -20
      ],
      "id": "93992375-9034-4871-9958-215e660e6851",
      "name": "TM_SetStatus_COMPLETE",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ls9itmRH8ZrWv4rJ",
          "name": "TaskManager DEMO AUTH"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Fixed merge logic for nodes with different data shapes\n\nconst getInside = $('InsideJSON').item.json || {};\nconst getOutside = $('OutsideJSON').item.json.result || {};\n\nreturn [\n  {\n    json: {\n      status: $('OutsideJSON').item.json.status || 'unknown',\n      result: {\n        ...getInside,\n        ...getOutside\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        -200
      ],
      "id": "68d2ab7b-bf3d-49af-9c41-67b7e8d82e87",
      "name": "CreateJSON"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d11727f-0a9b-45e6-b716-104bb14a5a36",
              "name": "task_id",
              "value": "={{ $('TM_SIMPLE_NODE').item.json.task_id }}",
              "type": "string"
            },
            {
              "id": "84626067-c27a-497f-9925-dec2eea6dd58",
              "name": "Image to reference",
              "value": "={{ $('TM_GetStatus').item.json.result['Image to reference'] }}",
              "type": "string"
            },
            {
              "id": "fd55cc13-9261-4c57-851d-0f56ffbdfdb6",
              "name": "Subject Description",
              "value": "={{ $('TM_GetStatus').item.json.result['Subject Description'] }}",
              "type": "string"
            },
            {
              "id": "91bfc4a7-9cd9-4e7e-b5cb-65d4d1d47931",
              "name": "Exaggeration Level",
              "value": "={{ $('TM_GetStatus').item.json.result['Exaggeration Level'] }}",
              "type": "string"
            },
            {
              "id": "c08ebc36-cbc6-46f0-8259-e09ee933c7c5",
              "name": "Visual Style",
              "value": "={{ $('TM_GetStatus').item.json.result['Visual Style'] }}",
              "type": "string"
            },
            {
              "id": "21a6ad12-b3e9-4a95-b6ae-37fc74af4d73",
              "name": "Lighting Style",
              "value": "={{ $('TM_GetStatus').item.json.result['Lighting Style'] }}",
              "type": "string"
            },
            {
              "id": "64446c7b-8c42-4beb-a256-edb549b33c66",
              "name": "Background",
              "value": "={{ $('TM_GetStatus').item.json.result.Background }}",
              "type": "string"
            },
            {
              "id": "a02091e1-4b89-4f72-add1-cc3ce26ee100",
              "name": "Sound Text",
              "value": "={{ $('TM_GetStatus').item.json.result['Sound Text'] }}",
              "type": "string"
            },
            {
              "id": "895eb4cb-2730-4e7a-8d96-70f2ee98b030",
              "name": "Generate voice",
              "value": "={{ $('TM_GetStatus').item.json.result['Generate voice'] }}",
              "type": "string"
            },
            {
              "id": "5b8eb4e6-0105-4749-a3b2-722a6a15b56c",
              "name": "Choose model for Video",
              "value": "={{ $('TM_GetStatus').item.json.result['Choose model for Video'] }}",
              "type": "string"
            },
            {
              "id": "b4003f36-738e-44da-9869-e5390b11d79d",
              "name": "Format",
              "value": "={{ $('TM_GetStatus').item.json.result.Format }}",
              "type": "string"
            },
            {
              "id": "94f286ad-0d94-4cbc-94ba-67108b972739",
              "name": "Eleven Labs Voice (W/M)",
              "value": "={{ $('TM_GetStatus').item.json.result['Eleven Labs Voice (W/M)'] }}",
              "type": "string"
            },
            {
              "id": "81a1d65c-6d57-44cb-bcb3-743b54ee27f3",
              "name": "Final_Image",
              "value": "={{ $('File Upload').item.json.data.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        -200
      ],
      "id": "cd434f53-f0fa-418d-9ed4-5a33e3b7d2b2",
      "name": "InsideJSON"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"status\": \"completed\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        -340
      ],
      "id": "6ddfcdd8-cf2f-421c-a584-fd07939bd4f4",
      "name": "OutsideJSON"
    },
    {
      "parameters": {
        "content": "## Task  Manager Nods",
        "height": 560,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        -420
      ],
      "id": "f98ebd25-ec42-4839-85b9-2087200129d7",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "START": {
      "main": [
        [
          {
            "node": "URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL": {
      "main": [
        [
          {
            "node": "TM_POLL_DATA",
            "type": "main",
            "index": 0
          },
          {
            "node": "TM_SIMPLE_NODE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "TM_GetStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TM_POLL_DATA": {
      "main": [
        []
      ]
    },
    "TM_SIMPLE_NODE": {
      "main": [
        [
          {
            "node": "TM_GetStatus",
            "type": "main",
            "index": 0
          },
          {
            "node": "TM_SetStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TM_GetStatus": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TM_SetStatus_COMPLETE": {
      "main": [
        [
          {
            "node": "TriggerWorkflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateJSON": {
      "main": [
        [
          {
            "node": "TM_SetStatus_COMPLETE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsideJSON": {
      "main": [
        [
          {
            "node": "CreateJSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OutsideJSON": {
      "main": [
        [
          {
            "node": "InsideJSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "306de76e4b7b868087c011f08075d5bdab5fdc016494a71df11c97368feac0db"
  }
}